.Logo {
  font-family: "Source Code Pro", monospace;
}
.itemList {
  padding: 50px;
}
.cartW {
  margin-top: 27px;
}
.countText {
  margin-left: 12px;
  margin-right: 12px;
}
.productCard {
  display: flex;
  padding: 20px;
}
.MuiPaper-root {
  margin: 20px;
}
.containerDetail {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 20px;
}
.cardItem {
  text-decoration: none;
}
.contador {
  color: aliceblue;
}
.terminarCompra {
  text-decoration: none;
}
